.gitSection_MainDiv{
    height: 100vh;
    scroll-snap-align: start;
    padding-top: 10vh;
}
.gitSection_MainDiv>h1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 30px;
    font-weight: 600;
}
.gitSection_MainDiv>h1>img{
    background-color: white;;
    border-radius: 100%;
    padding: 1px;
}
.gitSection_MainDiv>div{
    margin-top: 40px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto auto;
    grid-template-rows: auot auto;
    column-gap: 30px;
}
.gitSection_MainDiv>div>div>img{
   height: 250px;
   width: 500px;
}
.gitSection_MainDiv>div>div:nth-child(2){
   height: 200px;
   width: 500px;
   display: flex;
   align-items: center;
   border-radius: 10px;
   padding: 1px;
}

@media screen and (max-width:1200px) and (min-width:900px) {
    .gitSection_MainDiv>div>div>img{
        height: 220px;
        width: 400px;
     }
     .gitSection_MainDiv>div>div:nth-child(2){
        height: 160px;
        width: 400px;
     }  
}
@media screen and (max-width:900px) and (min-width:750px) {
    .gitSection_MainDiv>div>div>img{
        height: 200px;
        width: 320px;
     }
     .gitSection_MainDiv>div>div:nth-child(2){
        height: 130px;
        width: 320px;
     }  
}
@media screen and (max-width:750px) {
    .gitSection_MainDiv>div>div>img{
        height: 130px;
        width: 320px;
        /* transform: scale(1.5); */
     }
     .gitSection_MainDiv>div>div:nth-child(2){
        height: 130px;
        width: 320px;
     }
     .gitSection_MainDiv>div{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 0px;
    }  
}
@media screen and (max-width:400px) {
    .gitSection_MainDiv>div>div>img{
        /* height: 130px; */
        width:100%;
     }
     .gitSection_MainDiv>div>div:nth-child(2){
        /* height: 130px; */
        width: 100%;
     }
     .gitSection_MainDiv>div{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 0px;
        padding: 0% 5%;
    }  
}
