.project_heading{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    padding-top: 30px;
    padding-bottom: 20px;
}
.project_heading>span{
    color: rgb(254, 145, 25);
}

.outerProjectDiv{
    max-width: 1250px;
    width: 100%;
    margin: auto;
    display: flex;
    gap: 2%;
    align-items: center;
    padding-right: 0px;
}

.outerProjectDiv>button{
    font-size: 50px;
    color: rgb(254, 145, 25);
}
.outerProjectDiv>button:active{
    background-color: rgb(253, 214, 173);
    border-radius: 100%;
    opacity: 50%;
}
.outerProjectDiv>button:disabled{
    opacity: 30%;
}

.projectDiv>div{
    display: grid;
    gap: 3%;
    overflow-x: scroll;
    scroll-snap-type:x mandatory;
    grid-template-columns: repeat(3,48%);
    scroll-behavior: smooth;
}

.projectDiv>div::-webkit-scrollbar{
    display: none;
}
.card{
    scroll-snap-align: start;
    box-sizing: border-box;
}
.cardImgDiv>img{
    aspect-ratio: 10/6;
}
.cardImgDiv{
    border: 2px solid rgb(254, 145, 25);
}
.card>div>div>h2{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}
.card>div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card>div>div>ul{
    list-style: inside;
}
.card>div>div>p>b{
   color: rgb(253, 214, 173);
}

.cardVeiwProjectBtn{
    display: flex;
    height: 30px;
    margin-top: 10px;
    justify-content: space-around;
}
.cardVeiwProjectBtn>a>img{
    width: 30px;
    background-color: white;
    border-radius: 100%;
}
.cardVeiwProjectBtn>a{
   font-size: 40px;
   display: flex;
   align-items: center;
}





/* border style */

@keyframes rotate {
	100% {
		transform: rotate(1turn);
	}
}

.conic {
	position: relative;
	z-index: 0;
	border-radius: 10px;
    height: 100%;
	overflow: hidden;
	padding: 20px;
	
	&::before {
		content: '';
		position: absolute;
		z-index: -2;
		left: -50%;
		top: -50%;
		width: 200%;
		height: 200%;
		background-repeat: no-repeat;
		background-position: 0 0;
		background-image: conic-gradient(transparent ,rgb(198, 245, 255) 100%,rgb(153, 235, 254) 50%);
		animation: rotate 4s linear infinite;
	}
	
	&::after {
		content: '';
		position: absolute;
		z-index: -1;
		left: 6px;
		top: 6px;
        background-color: black;
		width: calc(100% - 10px);
		height: calc(100% - 10px);
		border-radius: 5px;
	}
}

@media screen and (max-width:1000px) and (min-width:750px) {
    .card{
       font-size: 16px;
    }
}
@media screen and (max-width:750px) and (min-width:400px) {
    .projectDiv>div{
        grid-template-columns: repeat(3,98%);
        width: 77vw;
    }
    .outerProjectDiv{
        margin: auto;
    }
    .outerProjectDiv>button{
        font-size: 40px;
    }
}
@media screen and (max-width:550px) and (min-width:400px) {
    .card{
        font-size: 14px;
     }
     .outerProjectDiv>button{
        font-size: 30px;
    }
    .card>div>div>h2{
        font-size: 20px;
        font-weight: 500;
    }
}

@media screen and (max-width:400px) {
    .projectDiv>div{
        grid-template-columns: repeat(3,98%);
        width: 72vw;
    }
    .outerProjectDiv{
        margin: auto;
    }
    .outerProjectDiv>button{
        font-size: 25px;
    }
    .card{
        font-size: 12px;
     }
     .outerProjectDiv>button{
        font-size: 25px;
    }
    .card>div>div>h2{
        font-size: 18px;
        font-weight: 500;
    }
    .project_heading{
        padding-top: 50px;
    }
}
